.stars{
    margin-left: 65%;
}
.btn{
    margin-left: 20px;
}
.card, .moreinfo{
    .img-fluid{
        margin-bottom: 10px;
    }
    background: linear-gradient(white,lightblue,white);
        padding:  5px 5%;
}