<section class="features">
    <div class="container">
        <div class="feature-head">
            <h2>{{heading}}</h2>
            <p>{{fContent}}</p>
        </div>
        <div class="row featurealign">

            <div class="col-lg-3 col-md-6 col-12" *ngFor="let f of features">
                <div class="card">

                    <h4>
                        <i class="{{f.icon}} " aria-hidden="true" style="color: rgb(58, 155, 246)"></i> &nbsp;
                        <a class="link" href="#Lorem Ipsum"> {{f.fheading}} </a>
                    </h4>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-12">
                <div class="card">

                    <h4>
                        <i class="fas fa-paint-roller" style="color: red"></i> &nbsp;
                        <a class="link" href="#Dolor Sitema">Dolor Sitema</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-calendar" style="color:palevioletred"></i> &nbsp;
                        <a class="link" href="#Sed perspiciatis">Sed perspiciatis</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-paint-roller" style="color:red"></i> &nbsp;
                        <a class="link" href="#Magni Dolores">Magni Dolores</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-database" style="color: pink"></i> &nbsp;
                        <a class="link" href="#Nemo Enim">Nemo Enim</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-circle-notch" style="color: blue"></i> &nbsp;
                        <a class="link" href="#Eiusmod Tempor">Eiusmod Tempor</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-copy" style="color: yellowgreen"></i> &nbsp;
                        <a class="link" href="#Midela Teren">Midela Teren</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-tags" style="color: blue"></i> &nbsp;
                        <a class="link" href="#Pira Neve">Pira Neve</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-anchor" style="color: lightcoral"></i> &nbsp;
                        <a class="link" href="#Dirada Pack">Dirada Pack</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-compact-disc" style="color: blue"></i> &nbsp;
                        <a class="link" href="#Moton Ideal">Moton Ideal</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">

                    <h4>
                        <i class="fas fa-broadcast-tower" style="color: green"></i> &nbsp;
                        <a class="link" href="#Verdo Park">Verdo Park</a>
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <h4>
                        <i class="fas fa-fingerprint" style="color: orange"></i> &nbsp;
                        <a class="link" href="#Flavor Nivelanda">Flavor Nivelanda</a>
                    </h4>
                </div>
            </div> -->
        </div>
    </div>
</section>