<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="container-fluid">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781645171867/william-shakespeare-tragedies-9781645171867_hr.jpg" class="img-fluid cardimg">
                <h1 class="text-center">William Shakespeare Tragedies</h1>
                <p>By William Shakespeare</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="container-fluid">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781645171867/william-shakespeare-tragedies-9781645171867_hr.jpg" class="img-fluid cardimg">
                <h1 class="text-center">William Shakespeare Tragedies</h1>
                <p>By William Shakespeare</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="container-fluid">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781645171867/william-shakespeare-tragedies-9781645171867_hr.jpg" class="img-fluid cardimg">
                <h1 class="text-center">William Shakespeare Tragedies</h1>
                <p>By William Shakespeare</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="container-fluid">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781645171867/william-shakespeare-tragedies-9781645171867_hr.jpg" class="img-fluid cardimg">
                <h1 class="text-center">William Shakespeare Tragedies</h1>
                <p>By William Shakespeare</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="container-fluid">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781645171867/william-shakespeare-tragedies-9781645171867_hr.jpg" class="img-fluid cardimg">
                <h1 class="text-center">William Shakespeare Tragedies</h1>
                <p>By William Shakespeare</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="container-fluid">
                    <img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781645171867/william-shakespeare-tragedies-9781645171867_hr.jpg" class="img-fluid cardimg">
                <h1 class="text-center">William Shakespeare Tragedies</h1>
                <p>By William Shakespeare</p>
                </div>
            </div>
        </div>

    </div>
</div>