<section class="about-us">
    <div class="container">
        <h1>
            {{heading}}
        </h1>
        <div class="row">
            <div class="col-md-6 col-12">
                <p>
                    {{pContent}}
                </p>
                <ul>
                    <li>
                        <i class="fas fa-check-double"></i>
                        {{list1}}
                    </li>
                    <li>
                        <i class="fas fa-check-double"></i>
                        {{list2}}
                    </li>
                    <li>
                        <i class="fas fa-check-double"></i>
                        {{list3}}
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-12">
                <p>
                    {{aboutContent}}
                </p>
                <button class="btn_type">Learn More</button>
            </div>
        </div>
    </div>
</section>