<section class="more-services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 m-ser-m" *ngFor="let ms of more">
                <div class="card m-services card-1">
                    <div class="cardbody">
                        <h5 class="card-title"><a href="">{{ms.heading}}</a></h5>
                        <p class="card-text">
                            {{ms.content}}
                        </p>
                        <div class="read-more">
                            <a href="#"><i class="{{ms.icon}}"></i> {{ms.read}} </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-12 m-ser-m">
                <div class="card m-services card-2">
                    <div class="cardbody">
                        <h5 class="card-title"><a href="">Limere Radses</a></h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque
                            laudantium, totam rem.
                        </p>
                        <div class="read-more">
                            <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 m-ser-m">
                <div class="card m-services card-3">
                    <div class="cardbody">
                        <h5 class="card-title"><a href="">Nive Lodo</a></h5>
                        <p class="card-text">
                            Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia
                            magni dolores.
                        </p>
                        <div class="read-more">
                            <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 m-ser-m">
                <div class="card m-services card-4">
                    <div class="cardbody">
                        <h5 class="card-title"><a href="">Pale Treda</a></h5>
                        <p class="card-text">
                            Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                            laudantium voluptatem.
                        </p>
                        <div class="read-more">
                            <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>