.card{
    margin: 15px auto;
   
}
.caardimg{
    // padding: 24px 25%;
    margin: 5% 0 3% 25%;
    border-radius: 30%;
    width: 50%;
}
.delete{
    justify-content: center;
    max-width: 100%;
    margin-bottom: 10px;
}
.insert{
    justify-content: left;
    padding-top: 1%;
    margin-left: 90%;
}
.inputbox{
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 45px;
    border-radius: 13px;
    padding: 0 0 0 10px;
    margin-bottom: 10px;
    border: 0px;
}

.books{
    background: url('https://thumbs.dreamstime.com/b/table-top-wood-counter-bar-display-product-table-top-wood-counter-bar-display-product-blur-library-shelf-118487742.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .card{
        background: linear-gradient(white,lightblue,white);

    }
}
.update{
    background: linear-gradient(white,lightblue,white);
    .formcard{
        padding: 10%;
    }
}