<form action="/action_page.php">
    <label for="fname">Name:</label><br>
    <input type="text" name="number"><br>
    <label for="phone">Phone:</label><br>
    <input type="number"  name="phone"><br><br>
    <label for="Email">Email:</label><br>
    <input type="email" id="Email" name="Email" value="John"><br>
    <label for="dob">DOB:</label><br>
    <input type="text" id="dob" name="DOB"><br>
    <label for="address">Address:</label><br>
    <input type="address"name="address" v><br>
    <label for="lname">Last name:</label><br>
    <input type="submit" value="Submit">
  </form> 