<header>
    <app-header></app-header>
</header>
<section class="search">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Book Title">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Author Name">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Category</option>
                                <option>Classic</option>
                                <option>Horror</option>
                                <option>Romantic</option>
                                <option>Fantacy</option>
                                <option>Adventure</option>
                                <option>Arcade</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-success ">Search</button>
                        </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="userhome" id="userhome">
    <div class="container">
        <h3 class="text-center text-uppercase mb-4 mt-3" id="topbooks" >Top Rated Books</h3>
        <div class="row">
            <div class="col-lg-6">
                <div class="card m-3">
                    <h4 class="text-uppercase mt-3">i too had a love story</h4>
                            <p><b>Author :</b>Ravindra Singh</p>
                            <hr>
                    <div class="container d-flex">
                        <div class="col-lg-4">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81fxf8EaTgL.jpg"
                                class="img-fluid mt-3 rounded">
                        </div>
                        <div class="col-lg-8">
                            <div class="container">
                                <label>
                                    <h5>Description :</h5>
                                </label>
                                <p class="text-justify">
                                    Debut novel of well-known Indian English writer Ravinder Singh 'I too had a love
                                    story was
                                    published in 2008 by Shrishti publishers and republished in 2012 by Penguin India.
                                    This book has
                                    remained in the bestsellers list, even after 6 years of
                                    publication...................................
                                </p>
                            </div>
                            <hr>
                            <div class="stars">
                                <button class="btn btn-sm btn-success mb-1" (click)="openXl(content)">More Info</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card m-3">
                    <h4 class="text-uppercase mt-3">i too had a love story</h4>
                            <p><b>Author :</b>Ravindra Singh</p>
                            <hr>
                    <div class="container d-flex">
                        <div class="col-lg-4">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81fxf8EaTgL.jpg"
                                class="img-fluid mt-3 rounded">
                        </div>
                        <div class="col-lg-8">
                            <div class="container">
                                <label>
                                    <h5>Description :</h5>
                                </label>
                                <p class="text-justify">
                                    Debut novel of well-known Indian English writer Ravinder Singh 'I too had a love
                                    story was published in 2008 by Shrishti publishers and republished in 2012 by
                                    Penguin India. This book has remained in the bestsellers list, even after 6 years of
                                    publication...................................
                                </p>
                            </div>
                            <hr>
                            <div class="stars">
                                <button class="btn btn-sm btn-success mb-1" (click)="openXl(content)">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card m-3">
                    <h4 class="text-uppercase mt-3">i too had a love story</h4>
                            <p><b>Author :</b>Ravindra Singh</p>
                            <hr>
                    <div class="container d-flex">
                        <div class="col-lg-4">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81fxf8EaTgL.jpg"
                                class="img-fluid mt-3 rounded">
                        </div>
                        <div class="col-lg-8">
                            <div class="container">
                                <label>
                                    <h5>Description :</h5>
                                </label>
                                <p class="text-justify">
                                    Debut novel of well-known Indian English writer Ravinder Singh 'I too had a love
                                    story was published in 2008 by Shrishti publishers and republished in 2012 by
                                    Penguin India. This book has remained in the bestsellers list, even after 6 years of
                                    publication...................................
                                </p>
                            </div>
                            <hr>
                            <div class="stars">
                                <button class="btn btn-sm btn-success mb-1" (click)="openXl(content)">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card m-3">
                    <h4 class="text-uppercase mt-3">i too had a love story</h4>
                            <p><b>Author :</b>Ravindra Singh</p>
                            <hr>
                    <div class="container d-flex">
                        <div class="col-lg-4">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/81fxf8EaTgL.jpg"
                                class="img-fluid mt-3 rounded">
                        </div>
                        <div class="col-lg-8">
                            <div class="container">
                                <label>
                                    <h5>Description :</h5>
                                </label>
                                <p class="text-justify">
                                    Debut novel of well-known Indian English writer Ravinder Singh 'I too had a love
                                    story was published in 2008 by Shrishti publishers and republished in 2012 by
                                    Penguin India. This book has remained in the bestsellers list, even after 6 years of
                                    publication...................................
                                </p>
                            </div>
                            <hr>
                            <div class="stars">
                                <button class="btn btn-sm btn-success mb-1" (click)="openXl(content)">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- more info -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="itoo">I TOO HAD A LOVE STORY</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body moreinfo">
        <div class="container d-flex">
            <div class="col-lg-5">
                <img src="https://www.shanayatales.com/wp-content/uploads/2015/06/i-too-had-a-love-story-book-review.png" class="img-fluid rounded mt-5 ">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/81sZUhx1HwL.jpg" class="img-fluid rounded mt-5 ">
                
            </div>
            <div class="col-lg-7">
                <div class="container">
                    <p>
            
                        <b> " I too had a love story " </b> novel of well-known Indian English writer Ravinder Singh 'I too had a love story was published in 2008 by
                        Shrishti publishers and republished in 2012 by Penguin India. This book has remained in the bestsellers list,
                        even after 6 years of publication. This novel is based on a real life event that happened with Ravinder Singh,
                        the author. This story is about two people Ravin and khushi who are looking forward to get married. Their
                        parents have been pushing them towards getting into an engagement or wedding soon. They sign up on a web
                        matrimonial site and as fate would have it; they meet and fall in love. They decide to get married. Ravin goes
                        to Delhi to meet Khushi and they are very happy. Both the families are very pleased with the relationship and
                        they are about to be engaged. But destiny had other plans. A day before their engagement, something bad happens.
                        Their lives are not the same anymore. Destiny is something we can never change, what we can do is make better
                        choices. After that tragic incident, how do their lives turn out to be? Do they stay together? Are they safe?
                        You will find out all once you finish this captivating tale of love, loss and destiny. In the world we live
                        today, love has got much complicated. This story unravels the concept of love for us in the simplest of manner.
                        Author manages to keep the readers on their toes by maintaining a full arc of narration throughout the book. In
                        the end, readers are left wondering how it feels to lose your love or find one. In the digital world, finding
                        love has changed its ways and maybe keeping them is different as well, but the question remains- Is love the
                        same thing or the concept of us has changed with these ever-evolving generations. What was that incident and how
                        their fate unfolded is a tale which won the hearts of thousands of people across India, making it a bestseller
                        for six years.Former Infosys chief Narayan Murathy had reviewed the book as a sweet, simple and honest tale of
                        modern day love.
                    </p>
                    <h5>About the Author</h5>
                    <h6>By Ravindra Singh</h6>
                    <p>
                        Ravinder Singh is a young Indian author who has written five books of fiction. The first one 'I too had a love
                        story was an adaptation of his real life story. He has a B.Tech and an MBA degree. He worked in Infosys for
                        five years, but later quit becoming a full-time writer. Some of his other works include 'Can Love Happen Twice,
                        ' Your Dreams are Mine Now and 'tell me a story among others.
                    </p>
    
                </div>        
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')">Request</button>

    </div>
</ng-template>