<h1 class="text-center">Well Come !</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 " *ngFor=" let users of usersData">
                <div class="card border-primary mb-8">
                    <div class="container">
                        <p>{{"UserId: "+users.id}}</p>
                        <p>{{"Name: "+users.name}}</p>
                        <button class="btn btn-primary btn-center text-center" (click)="user(users)">View</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>{{"factorial value:"+fact}}</p>