.user_details {
    padding: 30px;
    .card {
        max-width: 400px;
        margin: 0 auto;
        box-shadow: 0 1px 5px 0px rgb(0 0 0 / 20%);
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
    }

    .user_block {
        text-align: center;
    

     img {

        max-width: 131px;
        border-radius: 50%;
    }

     h4 {
        font-family: Montserrat;
        font-size: 20px;
        color: #555555;
        line-height: 1.2;
        margin: 10px;
    }
}
#update{
    margin-right: 5px;
}
    .details {
        display: grid;
    }
    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 39px;
        color: #555555;
        line-height: 1.2;
        padding: 20px;
        font-weight: 400;
    }
}